Body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  color: #757575;
}
a {
  text-decoration: none;
}
.button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  text-align: center;
}
.contakt-links .link {
  color: #757575;
}

.contakt-links .link:hover,
.contakt-links .link:focus {
  color: #2196f3;
}
