:root {
  --nav-links-color: #212121;
  --contact-links-color: #757575;
  --focus-color: #2196f3;
  --button-txt-focus-col: #ffffff;
}
Body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  color: var(--contact-links-color);
  font-style: normal;
  font-weight: 400;
}

.main-h {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-txt-focus-col);
}
.header-h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--nav-links-color);
}
.header-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-links-color);
}
.header-h4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--nav-links-color);
}
.our-progects .header-h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.p-txt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.our-team .p-txt {
  font-size: 16px;
  line-height: 19px;
}

.our-progects .p-txt {
  font-size: 16px;
  line-height: 30px;
  }

.link {
  text-decoration: none;
}
.adress {
  text-decoration: none;
  font-style: normal;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--focus-color);
  text-decoration: none;
}
.logo .logo-text {
  color: var(--button-txt-focus-col);
}
.button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  text-align: center;

  border-radius: 4px;
  border: none;
}
/* background: #f5f4fa;*/

.button:hover,
.button:focus {
  background: var(--focus-color);
  color: var(--button-txt-focus-col);
}

.contakt-links .link {
  color: var(--contact-links-color);
}

.contakt-links .link:hover,
.contakt-links .link:focus {
  color: var(--focus-color);
}

.nav-links .link {
  color: var(--nav-links-color);
}

.nav-links .link:hover,
.nav-links .link:focus {
  color: var(--focus-color);
}
