:root {
  --nav-links-color: #212121;
  --contact-links-color: #757575;
  --focus-color: #2196f3;
  --button-txt-focus-col: #ffffff;
  --logo-color: #000000;
  --hero-backgr: #2f303a;
  --our-team-backgr: #f5f4fa;
}
Body {
  font-family: 'Roboto', sans-serif;
  color: var(--contact-links-color);
  font-size: 14px;
}
/* background-color: var(--button-txt-focus-col); */
.Hero-txt {
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--button-txt-focus-col);
  text-transform: uppercase;
}
.weare__main-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
  color: var(--nav-links-color);
}
/* .aboutus {
} */
.aboutus__header {
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-links-color);
  text-transform: uppercase;
}
.aboutus__txt {
  line-height: 24px;
  letter-spacing: 0.03em;
}

.header-h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--nav-links-color);
  text-transform: uppercase;
}

.p-txt {
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.Hero-ind {
  background-color: var(--hero-backgr);
}

.our-team {
  background-color: var(--our-team-backgr);
}

.our-team__header {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--nav-links-color);
}

.our-team__txt {
  font-size: 16px;
  line-height: 19px;
}
/*.our-progects {
}*/
.our-progects__header {
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}
.our-progects__txt {
  font-size: 16px;
  line-height: 30px;
}

.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: var(--focus-color);
  text-decoration: none;
}
.logo__text {
  color: var(--logo-color);
}

.logo__text-footer {
  color: var(--button-txt-focus-col);
}

.button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  text-align: center;

  border-radius: 4px;
  border: none;
}
/* background: #f5f4fa;*/

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.button:hover,
.button:focus {
  background: var(--focus-color);
  color: var(--button-txt-focus-col);
}

.futer-sec {
  background-color: var(--hero-backgr);
}
.adress {
  text-decoration: none;
  font-style: normal;
}

.adress__link {
  color: var(--contact-links-color);
}

.adress__link:hover,
.adress__link:focus {
  color: var(--focus-color);
}

.nav-links {
  list-style-type: none;
}

.navigation__link {
  color: var(--nav-links-color);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--focus-color);
}
