Body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  color: #757575;
}
.button {
  cursor: pointer;
  font-family: 'Roboto';
  font-style: normal;
  font-size: 16px;
  text-align: center;
  }
